.modal-dialog {
  max-width: 95%;
  margin: 1.75rem auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 95%;
    margin: 1.75rem auto;
  }
}

@media (max-width: 500px) {
  .btn-pipe {
    display: none;
  }
}
