<base-layout titletop="Exercicios Cadastrados" entity="list">
  <div search>
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-3 toolbar-item">
          <select class="border-l" id="qtd" [(ngModel)]="count" (change)="getList()">
            <option *ngFor="let opt of counts" [ngValue]="opt">{{
              opt
            }}</option>
          </select>
        </div>
        <div class="col-sm-3 toobar-item"></div>

        <div class="col-sm-3 toolbar-item">
          <input type="text" id="exercicio" [(ngModel)]="filter.name" (keyup)="filtrar(name.value)" #name placeholder="Exercicio"
            title="exercicio" class="text-center"/>
        </div>

        <div class="col-sm-3 toolbar-item">
          <select class="border-l" id="target" [(ngModel)]="filter.target" (change)="filtrar(target.value)" #target>
            <option *ngFor="let target of targets" [ngValue]="target.value">{{target.desc}}</option>
          </select>
        </div>

      </div>
    </div>
  </div>

  <div body>
    <table class="table table-striped table-bordered table-sm" *ngIf="list !== undefined">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Alvo</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td data-label="Nome:">{{ item.name }}</td>
          <td data-label="Alvo:">{{ item.target }}</td>
          <td>
            <a [routerLink]="[item.id, 'edit']" class="componenteform">
              <button class=" btn btn-outline-primary btn-pdr fa fa-edit sombra-btn" title="Detalhes"
                data-toggle="tooltip" data-placement="bottom"></button>
            </a>
            <a class="componenteform">
              <button type="button" class="btn btn-outline-danger btn-pdr fa fa-trash sombra-btn" title="Deletar"
                data-placement="bottom" (click)="
                  openModalDelete(item.id, 'o Item: ' + item.name)
                "></button>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="4" *ngIf="list.length < 1" style="background-color: red; color: white; font-weight: bold;"> Nenhum registro encontrado</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div footer>
    <ikPagination [count]="count" [page]="page" [totalPages]="totalPages" [totalElements]="totalElements"
      (pageData)="pagination($event)">
    </ikPagination>
  </div>
</base-layout>
