<div class="home-aluno" *ngIf="permission('ROLE_ALUNO_DFIT')">

  <div id="card" class="flip">
    <div class="home-aluno-front">
      <button class="btn btn-primary btn-block sombra-btn home-aluno-btn" title="Perfil"
        (click)="flip()">Perfil</button>

      <button class="btn btn-success btn-block sombra-btn home-aluno-btn" title="Fichas" data-toggle="modal"
        data-target="#records">Fichas</button>

      <button class="btn btn-purple btn-block sombra-btn home-aluno-btn" title="Avaliação" data-toggle="modal"
        data-target="#avaliations">Avaliações</button>
    </div>

    <div class="home-aluno-black" *ngIf="aluno !==undefined">
      <img [src]="aluno.urlImg || './../../../../../assets/img/prod.jpg'" class="img-fluid img-thumbnail"
        style="width: 150px;" />
      <div class="fields">

        <div class="col-xs-12">
          <label for="name">Nome</label>
          <input id="name" type="text" [(ngModel)]="aluno.name" disabled/>
        </div>
        <div class="col-xs-6">
          <label for="celular">Celular</label>
          <input id="celular" type="text" [(ngModel)]="aluno.celular" disabled/>
        </div>
        <div class="col-xs-6">
          <label for="bday">Nascimento</label>
          <input id="bday" type="date" [(ngModel)]="bday" disabled/>
        </div>
        <hr/>
        <button
          class="btn btn-info btn-block sombra-btn "
          title="Dados de Acesso" data-toggle="modal"
          data-target="#userAccess" disabled>Dados de Acesso
        </button>
        <hr />
        <button
          class="btn btn-primary btn-block sombra-btn "
          title="Perfil"
          (click)="flip()"> Menu
        </button>
      </div>
    </div>
  </div>

</div>

<modal-record [records]="fichas"></modal-record>
<modal-aval [avaliacoes]="avaliacoes"></modal-aval>
<modal-user [user]="user"></modal-user>
