<div class="card">
  <div class="page-top sombra">
    Cadastro de Aluno
    <button class="btn btn-warning btn-pdr btn-sm float-right sombra-btn" (click)="return()" title="voltar">
      <i class="fas fa-arrow-circle-left"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="col-xs-12 col-md-12">
      <div class="row justify-content-center">
        <div class="text-center col-xs-12 col-md-3" *ngIf="object !== undefined">
          <img [src]="object.urlImg || './../../../../../assets/img/prod.jpg'" class="img-fluid img-thumbnail"
            style="width: 150px;" />
        </div>

        <div class="col-xs-12 col-md-9">
          <form [formGroup]="formulario" (ngSubmit)="onSubmit(); $event.preventDefault()"
            *ngIf="formulario !== undefined">
            <div class="col-xs-12">
              <div class="row">

                <div class="col-sm-12 col-md-8">
                  <div class="form-group">
                    <label for="name">Nome</label>
                    <input id="name" type="text" class="form-control" autofocus formControlName="name" IkUpCase />
                    <valid-msg [control]="formulario.controls['name']"></valid-msg>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="form-group">
                    <label for="dataNascimento">Dt_nasc</label>
                    <input id="dataNascimento" type="date" class="form-control" formControlName="datanascimento" />
                    <valid-msg [control]="formulario.controls['datanascimento']"></valid-msg>
                  </div>
                </div>

                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" class="form-control" formControlName="email" />
                    <valid-msg [control]="formulario.controls['email']"></valid-msg>
                  </div>
                </div>
                <div class="col-sm-12 col-md-3">
                  <div class="form-group">
                    <label for="celular">Celular</label>
                    <input id="celular" type="text" class="form-control" formControlName="celular"
                      IkMask="(99)99999-9999" />
                    <valid-msg [control]="formulario.controls['celular']"></valid-msg>
                  </div>
                </div>
                <div class="col-sm-12 col-md-3">
                  <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input id="cpf" type="text" class="form-control" formControlName="cpf" IkMask="999.999.999-99" />
                    <valid-msg [control]="formulario.controls['cpf']"></valid-msg>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4">
                  <div class="form-group">
                    <label for="anamnese">Anamnese</label>
                    <textarea id="anamnese" rows="3" class="form-control" formControlName="anamnese"></textarea>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="form-group">
                    <label for="objetivo">Objetivo</label>
                    <textarea id="objetivo" rows="3" class="form-control" formControlName="objetivo"></textarea>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="form-group">
                    <label for="ergometria">Ergometria</label>
                    <textarea id="ergometria" rows="3" class="form-control" formControlName="ergometria"></textarea>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12">
                  <div class="form-group">
                    <label for="obs">Observação</label>
                    <textarea id="obs" rows="3" class="form-control" formControlName="obs"></textarea>
                  </div>
                </div>

              </div>
              <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>
              <hr style="margin: 2px;" />
              <div class="row toolbar">
                <div class="col-sm-1" style="padding: 2px;">
                  <button class="fileUpload btn btn-outline-primary btn-block border-l toolbar-btn">
                    <input type="file" class="upload" accept="image/*" (change)="onPhoto($event)"
                      *ngIf="object !== undefined" />
                    <i class="fas fa-cloud-upload-alt"></i>
                  </button>
                </div>

                <div class="col-sm-1 btn-pipe" style="padding: 0 2px;"></div>
                <div class="col-sm-4" style="padding: 2px;"></div>

                <div class="col-sm-1" style="padding: 2px;">
                  <button
                    type="button"
                    title="Criar usuário"
                    class="btn btn-danger btn-block toolbar-btn"
                    *ngIf="usuario === null"
                    (click)="createUser()">
                    <i class="fas fa-user"></i>
                  </button>
                  <button
                    type="button"
                    title="Dados de Acesso"
                    class="btn btn-warning btn-block toolbar-btn"
                    *ngIf="usuario !==null"
                    data-toggle="modal" data-target="#userAccess">
                    <span class="d-none d-md-inline"></span>
                    <i class="fas fa-user"></i>
                  </button>
                </div>

                <div class="col-sm-1 btn-pipe" style="padding: 0 2px;"></div>

                <div class="col-sm-1" style="padding: 2px;">
                  <button type="button" class="btn btn-outline-warning btn-block toolbar-btn" title="Fichas"
                    data-toggle="modal" data-target="#records">
                    <span class="d-none d-md-inline"></span>
                    <i class="fas fa-clipboard"></i>
                  </button>
                </div>
                <div class="col-sm-1" style="padding: 2px;">
                  <button type="button" class="btn btn-outline-dark btn-block toolbar-btn" title="Avaliação"
                    data-toggle="modal" data-target="#avaliations">
                    <span class="d-none d-md-inline"></span>
                    <i class="fas fa-ruler"></i>
                  </button>
                </div>

                <div class="col-sm-1 btn-pipe" style="padding: 0 2px;"></div>

                <div class="col-sm-1" style="padding: 2px;"
                  *ngIf="auth.getPermission('ROLE_ADM_DFIT') || auth.getPermission('ROLE_PROF_DFIT')">
                  <button type="submit" class="btn btn-outline-success btn-block border-r toolbar-btn"
                    [disabled]="!formulario.valid">
                    <span class="d-none d-md-inline"></span>
                    <i class="fas fa-save"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<modal-record [records]="fichas" (saveFn)="onSubmit()"></modal-record>

<modal-aval [avaliacoes]="avaliacoes" (saveFn)="onSubmit()"></modal-aval>

<modal-user [user]="usuario"></modal-user>










