<div class="modal fade" id="records" tabindex="-1" role="dialog" aria-labelledby="altModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-max modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="altModalLabel">Fichas Cadastradas</h5>
        <button type="button" class="btn btn-sm btn-primary btn-plus sombra-btn" (click)="addFicha()" *ngIf="permission()">
          <i class="fas fa-plus"></i>
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-striped table-bordered table-sm" *ngIf="records !== undefined">
          <thead>
            <tr>
              <th>Status</th>
              <th>Data Inicio</th>
              <th>Reavaliação</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records">
              <td data-label="Status:">{{ (item.status == true) ? 'Ativa' : 'Arquivada' }}</td>
              <td data-label="Data Inicio:">{{ item.datainicio | date:'shortDate' }}</td>
              <td data-label="Reavaliação:">{{ item.datareavaliacao | date:'shortDate' }}</td>
              <td>
                <a class="componenteform">
                  <button type="button" class="btn btn-outline-warning sombra-btn" title="status"
                    (click)="statusFicha(item)" *ngIf="permission()">
                    <i class="fas fa-traffic-light"></i>
                  </button>
                </a>

                <a class="componentform">
                  <button type="button" class="btn btn-outline-success sombra-btn" title="Treinos"
                    (click)="setFicha(item)" data-toggle="modal" data-target="#treinos">
                    <i class="fas fa-list"></i>
                  </button>
                </a>

                <a class="componenteform">
                  <button type="button" class="btn btn-outline-danger sombra-btn" title="Deletar"
                    data-placement="bottom" (click)="deleteFicha(item, 'a ficha de: ' + item.datainicio)" *ngIf="permission()">
                    <i class="fas fa-trash"></i>
                  </button>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="4" *ngIf="records.length < 1"
                style="background-color: red; color: white; font-weight: bold;"> Nenhum registro encontrado</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="treinos" tabindex="-1" role="dialog" aria-labelledby="altModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-max modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="altModalLabel">Treinos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row" *ngIf="permission()">
          <div class="col-md-3">
            <label for="">Exercício</label>
            <select class="border-l" id="dia" [(ngModel)]="newTreino.exercicio">
              <option *ngFor="let exercicio of exercicios" [ngValue]="exercicio.name">{{exercicio.name}}</option>
            </select>
          </div>
          <div class="col-md-1">
            <label for="">Série</label>
            <input type="text" [(ngModel)]="newTreino.serie">
          </div>
          <div class="col-md-1">
            <label for="">Repetição</label>
            <input type="text" [(ngModel)]="newTreino.repeticao">
          </div>
          <div class="col-md-1">
            <label for="">Carga</label>
            <input type="text" [(ngModel)]="newTreino.carga">
          </div>
          <div class="col-md-3">
            <label for="">Obs.</label>
            <input type="text" [(ngModel)]="newTreino.observacao">
          </div>
          <div class="col-md-2">
            <label for="dia">Dia</label>
            <select class="border-l" id="dia" [(ngModel)]="dia">
              <option *ngFor="let dia of dias" [ngValue]="dia.value">{{dia.desc}}</option>
            </select>
          </div>
          <div class="col-md-1" style="margin-top: 20px;">
            <button class="btn btn-success" (click)="addTreino()">Salvar </button>
          </div>

        </div>

        <hr />

        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="segunda-tab" data-toggle="tab" href="#segunda" role="tab"
              aria-controls="segunda" aria-selected="true">Segunda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="terca-tab" data-toggle="tab" href="#terca" role="tab" aria-controls="terca"
              aria-selected="false">Terça</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="quarta-tab" data-toggle="tab" href="#quarta" role="tab" aria-controls="quarta"
              aria-selected="false">Quarta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="quinta-tab" data-toggle="tab" href="#quinta" role="tab" aria-controls="quinta"
              aria-selected="false">Quinta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sexta-tab" data-toggle="tab" href="#sexta" role="tab" aria-controls="sexta"
              aria-selected="false">Sexta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sabado-tab" data-toggle="tab" href="#sabado" role="tab" aria-controls="sabado"
              aria-selected="false">Sábado</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">

          <div class="row tab-pane fade show active" id="segunda" role="tabpanel" aria-labelledby="segunda-tab">
            <table-treino [dia]="'seg'" [list]="ficha.seg" (removeFn)="removeTreino($event)"></table-treino>
          </div>

          <div class="row tab-pane fade show" id="terca" role="tabpanel" aria-labelledby="terca-tab">
            <table-treino [dia]="'ter'" [list]="ficha.ter" (removeFn)="removeTreino($event)"></table-treino>
          </div>

          <div class="row tab-pane fade show" id="quarta" role="tabpanel" aria-labelledby="quarta-tab">
            <table-treino [dia]="'qua'" [list]="ficha.qua" (removeFn)="removeTreino($event)"></table-treino>
          </div>

          <div class="row tab-pane fade show" id="quinta" role="tabpanel" aria-labelledby="quinta-tab">
            <table-treino [dia]="'qui'" [list]="ficha.qui" (removeFn)="removeTreino($event)"></table-treino>
          </div>

          <div class="row tab-pane fade show" id="sexta" role="tabpanel" aria-labelledby="sexta-tab">
            <table-treino [dia]="'sex'" [list]="ficha.sex" (removeFn)="removeTreino($event)"></table-treino>
          </div>

          <div class="row tab-pane fade show" id="sabado" role="tabpanel" aria-labelledby="sabado-tab">
            <table-treino [dia]="'sab'" [list]="ficha.sab" (removeFn)="removeTreino($event)"></table-treino>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
