.card-login {
  color: white;
 /* background-image: url(../../../../assets/img/bg_verde2.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  max-width: 300px;
  margin: 0 auto;
}

input {
  background: white!important;
  color: black!important;
}

.form-group {
  margin-bottom: 5px!important;
}
